.featured-items-container {
	min-height: 250px;
	display: flex;
	flex-direction: row;
}

mat-card {
	margin-right: 1rem;
	margin-bottom: 1.5rem;
	min-height: 100%;
	max-width: 30%;
	border: solid var(--primaryColor) 2px;
}

mat-card-footer {
	display: flex;
	flex-direction: row;
	margin-left: 1rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.publish-date {
	margin-left: 0.5rem;
}

.more-articles {
	margin-bottom: 1rem;
}
