.featured-items-container {
	min-height: 250px;
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.clickable-card {
	cursor: pointer; /* Display a pointer cursor */
	transition:
		transform 0.2s ease,
		box-shadow 0.2s ease;
}

.border {
	position: relative;
	border-radius: var(--border-radius-cards);
	padding: 4px;
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	background: linear-gradient(to right, #b0c8ed, #e3bae0); /* Gradient background for the border */
	width: 33%;
}

.border mat-card {
	border-radius: inherit; /* Match the parent's border-radius for consistency */
	background-color: var(--sys-background); /* Ensure the card content is visible */
	overflow: hidden; /* Clip overflowing content within the border radius */
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
	flex-direction: column; /* Ensure content inside mat-card stacks properly */
}

mat-card-header {
	flex-shrink: 0;
}

.blog-title {
	font-weight: 500;
	margin-bottom: 0.25rem;
}

.blog-summary {
	font-weight: 300;
	margin-bottom: 0.25rem;
	margin-top: 0.25rem;
}

mat-card-footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 1rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.publish-date {
	margin-left: 0.5rem;
	font-size: 0.8rem;
	color: gray;
	font-family: monospace;
}

.more-articles {
	margin-bottom: 1rem;
	margin-top: 1rem;
}
