<h1>Contact</h1>
<mat-divider></mat-divider>
<p>If you'd like to get in touch, you can reach me using the following methods.</p>
<div class="contact-items">
	<div *ngFor="let item of contactItems">
		<h2>{{ item.label }}</h2>
		<!-- Conditionally wrap up value in an anchor tag if 'href' exists -->
		<!--		<span *ngIf="!item.href">{{ item.value }}</span>-->
		<a *ngIf="item.label === 'Email'" [href]="'mailto:' + emailUser + '@' + emailDomain + '?Subject=Hello!'">{{ item.value }}</a>
	</div>
</div>
