section {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.profile-pic {
	flex-shrink: 0;
	width: 11rem;
	height: 12rem;
	border-radius: 50%;
	margin-left: 1rem;
	object-fit: cover; /* Ensures the image covers the container uniformly. */
}

.text-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-width: 600px;
	margin-bottom: 1rem;
	margin-right: 3rem;
	flex: 1;
}

.text-container h1 {
	margin-bottom: 0.15em;
}

.text-container span {
	margin-bottom: 1.25rem;
}

.bio-text {
	white-space: pre-line;
}

@media (max-width: 768px) {
	.about-container {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.profile-pic {
		margin-left: 0;
		margin-bottom: 1rem;
	}
}
