section {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
		'name'
		'photo'
		'bio';
	justify-items: center;
	text-align: center;
}

.profile-pic {
	grid-area: photo;
	width: 11rem;
	height: 12rem;
	border-radius: 50%;
	margin-bottom: 1rem;
	object-fit: cover; /* Ensures the image covers the container uniformly. */
}

.name-block {
	grid-area: name;
	display: flex;
	flex-direction: column;
}

.name-block h1 {
	margin-bottom: 0.15em;
}

.name-block span {
	margin-bottom: 1.25rem;
}

.bio-text {
	grid-area: bio;
	max-width: 600px;
	margin-bottom: 1rem;
	white-space: pre-line;
}

@media (min-width: 769px) {
	section {
		grid-template-columns: 1fr auto;
		grid-template-areas:
			'name photo'
			'bio photo';
		align-items: center;
		justify-items: start;
		text-align: left;
		column-gap: 1rem;
	}

	.profile-pic {
		grid-row: span 2;
		align-self: center;
		margin-bottom: 0;
	}
}
