h2 {
	margin-bottom: 0.25rem;
}
.published-date {
	font-size: 0.8rem;
	color: gray;
	font-family: monospace;
	margin: 0;
}

.summaries {
	font-weight: 300;
	margin-bottom: 0.25rem;
	margin-top: 0.25rem;
}

mat-divider {
	margin: 1rem 0;
}
