// Ensure that the necessary global styles are accessible within the component
//@import 'src/styles.scss';

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	padding: 1rem;
	width: 90%;
	max-width: 1000px;
}

header,
main {
	width: 100%;
}

app-footer {
	align-self: flex-start;
}
