<!-- app.component.html -->
<div>
	<div class="modal-overlay" *ngIf="isLoading">
		<!-- Modal overlay to show during loading, controlled by an ngIf directive -->
	</div>

	<div class="container" #websiteContent>
		<!-- Header section with Angular Material toolbar -->
		<header>
			<!-- Navigation links component -->
			<app-navigation-links #navigationHeader></app-navigation-links>
		</header>

		<!-- Main content area with router outlet for dynamic content -->
		<main>
			<!-- Router outlet for loading different components based on the route -->
			<router-outlet></router-outlet>
		</main>
	</div>
	<app-footer></app-footer>
</div>
