// Ensure that the necessary global styles are accessible within the component
//@import 'src/styles.scss';

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	padding: 1rem;
	width: 90%;
	max-width: 1000px;
}

header,
main {
	width: 100%;
}

header {
	width: 100%;

	@media (max-width: 768px) {
		padding: 0 1rem;
		overflow-x: hidden;
	}

	@media (max-width: 480px) {
		padding: 0 0.5rem;
	}
}

app-footer {
	align-self: flex-start;
}
