// Ensure that the necessary global styles are accessible within the component
@import 'src/styles.scss';

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1rem auto;
	padding: 1rem;
}

header {
	width: 100%;
}

main {
	width: 100%;
}
