<mat-nav-list class="navigation-item-container">
	<div class="nav-links">
		<a class="link-item" href="#">Home</a>
		<a class="link-item" href="#">About</a>
		<a class="link-item" href="#">Blog</a>
		<a class="link-item" href="#">GitHub</a>
		<a class="link-item" href="#">Contact Me</a>
	</div>
	<!-- Dark and Light Mode Toggle Button -->
	<button (click)="toggleDarkMode()">
		<ng-container *ngIf="isDarkMode; else lightModeTemplate">
			<fa-icon [icon]="icons.darkModeMoon"></fa-icon>
		</ng-container>
		<ng-template #lightModeTemplate>
			<fa-icon [icon]="icons.lightModeSun"></fa-icon>
		</ng-template>
	</button>
</mat-nav-list>
