.navigation-item-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 1rem;
	font-size: 1.15rem;
	gap: 26rem;
	a {
		text-decoration: none;
		color: inherit;
	}
}

button {
	width: 2rem;
	height: 2rem;
	justify-content: center;
	margin-left: 10px;
}

.nav-links {
	display: flex;
	flex-direction: row;
	gap: 15px;
	justify-content: flex-start;
}

.link-item {
	height: auto;
	text-align: center;
	padding: 10px;
	width: fit-content;
	min-width: 3rem;
	border-radius: var(--border-radius);
	transition:
		color 0.25s ease,
		background-color 0.25s ease;

	&:hover {
		background-color: var(--sys-inverse-secondary);
		cursor: pointer;
	}
}
