.navigation-item-container {
	display: flex;
	flex-direction: row;
	margin-bottom: 1rem;
}

button {
	background-color: var(--sys-neutral);
	width: 150px;
	height: 30px;
	border-radius: var(--border-radius);
}
