.navigation-item-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-right: 1rem;
	margin-bottom: 2rem;
	font-size: 1.15rem;

	// todo: responsiveness will need to tweak it.
	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		padding: 0;
	}
}

.toggle-container {
	display: flex;
	justify-content: flex-end;

	button {
		width: 2rem;
		height: 2rem;
		justify-content: center;
	}
}

.theme-toggle-item {
	display: flex;
	align-items: center;
	padding: 0 1rem;
	height: 48px;
	width: 100%;

	span {
		margin-right: 1rem;
	}
}

.nav-links {
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
	justify-content: flex-start;

	@media (max-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.link-item {
			padding: 0.5rem 1rem;
			font-size: 14px;
		}
	}

	@media (max-width: 480px) {
		padding: 8px 10px;
		font-size: 12px;
	}
}

.link-item {
	padding: 10px;
	min-width: 3rem;
	border-radius: var(--border-radius);
	transition:
		color 0.25s ease,
		background-color 0.25s ease;

	&:hover {
		color: var(--sys-inverse-secondary);
		cursor: pointer;
	}
}

.first-link {
	margin-left: 0;
	padding-left: 0;
}
