// Variables for the application
/**
This file should contain all global variables, including colour schemes, spacing units, font sizes, etc.
It can also have mixins and functions that are to be reused throughout the project.
 */

@use 'sass:math';
// todo: define a link color?

/***************************
Colour Variables
***************************/
// Primary Colours
$primaryColor: #253D5B; // prussian blue
//$primaryColor: #3b71ca;
$secondaryColor: #bec7d7; // light blue
//$secondaryColor: #9fa6b2;
$backgroundColor: #fbfbfb; // Light mode background (light gray/white)
$textColor: #000; // Light mode text (black/dark gray)

$successColor: #14a44d;
$errorColor: #dc4c64;
$warnColor: #ff9800;
$infoColor: #54b4d3;

// Neutral Colours
$lightColor: #fbfbfb;
$darkColor: #332d2d;
$greyColor: #67697C; // dim gray
$lightgreyColor: #e5e7fd;

$neutralBackground: #77777a; /* To use for cards or containers in dark mode */
$neutralBorderColor: #74777e; /* Subtle dividers or border color for dark mode */
$neutralDisabled: #74777e; /* Use for disabled buttons or inputs */

// Button Colours
$btn-primary-bg: $primaryColor; // Button background color
$btn-primary-color: #fff; // button text color
$btn-secondary-bg: $secondaryColor;
$btn-secondary-color: #333;

// Button Hover/Active States
$btn-primary-hover-bg: lighten($primaryColor, 10%);
$btn-primary-active-bg: darken($primaryColor, 10%);
$btn-secondary-hover-bg: lighten($secondaryColor, 10%);
$btn-secondary-active-bg: darken($secondaryColor, 10%);

/***************************
Font and Spacing Variables
***************************/
// Font Sizes
$font-size-base: 16px;
$font-size-large: 18px;
$font-size-small: 12px;

// Spacing Units
$spacing-unit: 8px; // base spacing unit
$spacing-unit-half: math.div($spacing-unit, 2);
$spacing-small: 4px;
$spacing-large: 16px;

/***************************
Design Properties
***************************/
$border-radius: 5px; //default border radius
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // default box shadow

/***************************
CSS Custom Properties
***************************/
:root {
  /* Color variables */
  --primaryColor: #{$primaryColor};
  --secondaryColor: #{$secondaryColor};
  --backgroundColor: #{$backgroundColor};
  --textColor: #{$textColor};

  --successColor: #{$successColor};
  --warnColor: #{$warnColor};
  --errorColor: #{$errorColor};
  --infoColor: #{$infoColor};

  --lightColor: #{$lightColor};
  --darkColor: #{$darkColor};
  --grayColor: #{$greyColor};
  --lightgreyColor: #{$lightgreyColor};

  --neutralBackground: #{$neutralBackground}; /* To use for cards or containers in dark mode */
  --neutralBorderColor: #{$neutralBorderColor}; /* Subtle dividers or border color for dark mode */
  --neutralDisabled: #{$neutralDisabled}; /* Use for disabled buttons or inputs */


  /* Button variables */
  --btn-primary-bg: #{$btn-primary-bg};
  --btn-primary-color: #{$btn-primary-color};
  --btn-secondary-bg: #{$btn-secondary-bg};
  --btn-secondary-color: #{$btn-secondary-color};

  /* Button Hover/Active States */
  --btn-primary-hover-bg: #{lighten($primaryColor, 10%)};
  --btn-primary-active-bg: #{darken($primaryColor, 10%)};
  --btn-secondary-hover-bg: #{lighten($secondaryColor, 10%)};
  --btn-secondary-active-bg: #{darken($secondaryColor, 10%)};

  /* Font size variables */
  --font-size-base: #{$font-size-base};
  --font-size-large: #{$font-size-large};
  --font-size-small: #{$font-size-small};

  /* Spacing variables */
  --spacing-unit: #{$spacing-unit};
  --spacing-unit-half: #{$spacing-unit-half};
  --spacing-small: #{$spacing-small};
  --spacing-large: #{$spacing-large};

  /* Design Properties */
  --border-radius: #{$border-radius};
  --box-shadow: #{$box-shadow};
}

// Variables from mdbootstrap mdb-ui-kit https://github.com/mdbootstrap/mdb-ui-kit/blob/master/src/scss/free/_variables.scss

body.dark-mode {
  /* Dark Mode Colours */
  --primaryColor: #bec7d7;
  --secondaryColor: #253D5B; //todo: adjust as needed for accents
  --backgroundColor: #1a1717; // todo: Adjust background shades for dark mode.
  --textColor: #efefef; // light text color for dark mode

  /* Dark Mode Buttons */
  --btn-primary-bg: #bec7d7; // todo: Adjust and define this.
  --btn-primary-color: #333;
  --btn-primary-hover-bg: lighten(#bec7d7, 10%); //todo adjust as needed
  --btn-primary-active-bg: darken(#bec7d7, 10%);
  --btn-secondary-bg: #253D5B;
  --btn-secondary-hover-bg: lighten(#253D5B, 10%);
  --btn-secondary-active-bg: darken(#253D5B, 10%);
}
